<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartUp</servlet-name>
        <servlet-class>com.StartUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobSubmission</servlet-name>
        <servlet-class>pages.JobSubmission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Availability</servlet-name>
        <servlet-class>pages.Availability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Turnover</servlet-name>
        <servlet-class>pages.Turnover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ASTJ</servlet-name>
        <servlet-class>pages.ASTJ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>pages.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>pages.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBooking</servlet-name>
        <servlet-class>pages.CustomerBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExistingBookings</servlet-name>
        <servlet-class>pages.ExistingBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebServiceExample</servlet-name>
        <servlet-class>com.WebServiceExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleMapsTest</servlet-name>
        <servlet-class>com.GoogleMapsTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>pages.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExampleData</servlet-name>
        <servlet-class>model.ExampleData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobList</servlet-name>
        <servlet-class>pages.JobList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookJourney</servlet-name>
        <servlet-class>pages.BookJourney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUser</servlet-name>
        <servlet-class>pages.DisplayUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>pages.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>pages.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAvailableDrivers</servlet-name>
        <servlet-class>pages.ShowAvailableDrivers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignDriver</servlet-name>
        <servlet-class>pages.AssignDriver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartUp</servlet-name>
        <url-pattern>/MainMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBooking</servlet-name>
        <url-pattern>/CustomerBooking.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServiceExample</servlet-name>
        <url-pattern>/WebServiceExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleMapsTest</servlet-name>
        <url-pattern>/GoogleMapsTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExampleData</servlet-name>
        <url-pattern>/ExampleData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobList</servlet-name>
        <url-pattern>/JobList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookJourney</servlet-name>
        <url-pattern>/BookJourney.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Turnover</servlet-name>
        <url-pattern>/Turnover.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ASTJ</servlet-name>
        <url-pattern>/ASTJ.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAvailableDrivers</servlet-name>
        <url-pattern>/ShowAvailableDrivers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Availability</servlet-name>
        <url-pattern>/Availability.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistingBookings</servlet-name>
        <url-pattern>/ExistingBookings.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobSubmission</servlet-name>
        <url-pattern>/JobSubmission.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUser</servlet-name>
        <url-pattern>/DisplayUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignDriver</servlet-name>
        <url-pattern>/AssignDriver.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
